body{
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(247, 243, 243, 0.8);
    background-size: cover;
    background-position-y:-50px;
    /* font-size: 16px; */
    padding: 10px 40px 0px 20px;
  }
#wrapper{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    align-items: stretch;
}
#form-taikhoan{
    max-width: 250px;
    width: 100%;
    background: #e3f0e4;
    background-size: cover;
    background-position-y:-85px;
    flex-grow: 1;
    /* padding: 10px 40px 0px 20px; */
    box-shadow: 0px 0px 17px 2px rgba(255, 255, 255, 0.8);
}
.form-heading{
    font-size: 18px;
    width: 100%;
    background:#1a670f;
    border: #1a670f;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
    display:flex;
    font-weight: bold;
}
/* .form-heading1{
    font-size: 18px;
    width: 100%;
    background:#1a670f;
    border: 10px solid #1a670f;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 30 px;
    margin-top: 30 px;
} */
/* .form{
    font-size: 14px;
    color: rgb(13, 121, 18);
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    
} */
.form1{
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    
}
/*.form1{
    font-size: 9px;
    color: rgb(64, 65, 64);
    text-align: center;
    margin-bottom: 0px;
    margin-top: -10px;
    
} */

.form-group{
    border-bottom: 1px #1a670f;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    padding: 10px 40px 0px 20px;
}
.form-group i{
    color: #000000;
    font-size: 16px;
    padding-top: 25px;
    padding-right: 20px;
    padding-left: 20px;
    background: #bdbdbd;
    
}
.fa-user:before {
    content: "\f007";
    font-size: 30px;
}
.form-input{
    font-size: 12px;
    border: 0;
    outline: 0;
    color: #313131;
    flex-grow: 1;
    padding: 6px 10px;
}
/* .form-input::placeholder{
    color: #7d7979;
} */
/* #eye i{
    padding-right: 0;
    cursor: pointer;
} */
/*.forget-group{
    border: 0px;
    background: transparent;
    color: #7d7979; 
    
    font-size: 12px;
    padding-top: 1px;
    padding-left: 150px;
}*/
/* .form-submit{
    background: #f6f8f5;
    border: 1px solid #f2f3f2;
    color:#fff;
    width: 100%;
    text-transform: uppercase;
    padding: 6px 10px;
    transition: 0.25s ease-in-out;
    margin-top: 30px;
}  */
.form-submit{
    /* border: 1px solid #1a670f; */
    color: hsl(113, 75%, 23%);
    height:20px;
    width: 100%;
    text-transform: uppercase;
    /* padding: 6px 10px; */
    transition: 0.25s ease-in-out;
    margin-block: 30px;
    text-align: center;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: -10px;
    margin-inline-end: -10px; 
}
/*.form-submit2{
    background: transparent;
    border: 1px solid #1a670f;
    color: #1a670f;
    width: 100%;
    text-transform: uppercase;
    padding: 6px 10px;
    transition: 0.25s ease-in-out;
    margin-top: 20px;
    text-align: center;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: -10px;
    margin-inline-end: -10px;
}*/