body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 110%;
        background: rgba(247, 243, 243, 0.8);
        background-size: cover;
        background-position-y:-85px;
        font-size: 16px;

}
#wrapper{

    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: stretch;
}
#form-menu{
    max-width: 250px;
    background: #e4f0e4;
    background-size: cover;
    background-position-y:-80px;
    flex-grow: 1;
    padding: 10px 40px 0px 20px;
    box-shadow: 0px 0px 17px 2px rgba(255, 255, 255, 0.8);
}
.form-group{
background-color: green;
background-size: cover;
text-align: center;
max-width: 250px;
width: 100%;
background-position-y:-85px;
flex-grow: 1;
padding: 10px 10px 20px 10px;
box-shadow: 0px 0px 17px 2px rgba(255, 255, 255, 0.8);

}
.form-heading{
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 30px;
}
.form{
    font-size: 10px;
    /*color: rgb(30, 30, 30);
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    background: px #a4d8a8; */
    color:rgb(61, 107, 69);
    border-bottom: 1px solid rgb(255, 255, 255);
    margin-bottom: 10px;
    border-top: 1px solid rgb(255, 255, 255);
    background-color:white;
    opacity: 0.9;
    padding: 4px 2em;
    border-radius: 2px;
    text-decoration: none;
    /* margin-left: 2.2%;
    margin-right: 2.2%; */
    font-weight: bold;
    
}
    
/* title{
    color:black;
    text-transform: uppercase;
    background-color:white;
    opacity: 0.5;
    padding: 7px 3em;
    border-radius: 7px;
    text-decoration: none;
    margin-left: 2.2%;
    margin-right: 2.2%;
    font-weight: bold;
    display: inline-flex;
} */
/* img{
    margin-left: -100;
    margin-right: -100;
    display: flex;
    width: 700px;
    margin-top: 1%;
    margin-bottom: 1%;
    border: 2px solid  orange;
} */
img {
    display: block;
    max-width:230px;
    max-height:85px;
    width: 120px;
    height: auto;
    border: 2px solid  orange;
  }
  .form-input{
    font-size: 12px;
    background: transparent;
    border: 0;
    outline: 0;
    color: #313131;
    flex-grow: 1;
    text-align:end;
    margin-top:-40px;
}
.item{
    position: relative;
}
body form.timkiem{
    display: flex;
  }